 {% extends "blogs/base2.html" %}
    {% load blog_tags %}
    {% block title %}Password {% endblock title %}

    {% block content %}

    
    <style>
    .card-body {
    flex: 9 3 auto;
    padding: 5rem 1rem;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    margin-top: 107px;
}
    </style>
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">We have sent an password reset email to you </h3>
            <div class="card-text text-center">
                Please check your mail and your reset password
            </div>
            <div class="text-center">
            <a class="btn btn-primary" href="https://mail.google.com/mail/u/0/#inbo" >Check G-mail</a>
            </div>
        </div>
    </div>
    </div>


    {% endblock %}
